.Order {
	width: 80%;
	margin: 16px auto;
	padding: 24px;
	box-shadow: 0 2px 3px #eee;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.Ingredient{
	border: 1px solid lightgray;
	padding: 8px;
	box-sizing: border-box;
	margin: 0 4px;
	border-radius: 8px;
}