.Auth {
	text-align: center;
	margin: auto;
    width: 80%;
    box-shadow: 0 2px 3px lightgray;
    padding: 16px;
}

@media (min-width: 576px) {
	.Auth {
		width: 550px;
	}
}

.Auth input {
    display: block;
}